<form>
    <h1>update category</h1>

    <mat-form-field class="form">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="categoria.name" type="text" name="name"  >
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="categoria.descricao" type="text" name="descricao" ></textarea>
    </mat-form-field>


    <div class="buttons">
        <button (click)="update()"  class="mat-elevation-z8" mat-stroked-button color="primary">Update</button>
        <button (click)="cancel()"  class="mat-elevation-z8" mat-stroked-button color="war">Cancel</button>
    </div>
</form>

